body {
    background: url(/images/bg2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.light-bg {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    min-height: calc(100vh - 100px);
}

html,
body {
    height: 100%;
}
#app {
    min-height: 100%;
}
main {
    min-height: calc(100vh - 50px);
}

#process,
#deletePhoto {
    display: none;
}

.bg-title {
    background: rgba(95, 178, 178, 0.8);
}

.my-house, .bg-new {
    background: rgba(95, 178, 178, 0.1);
}

.my-house:hover, .not-my-house:hover {
    font-weight: bold;
}
